body {
    margin: auto;
    max-width: 45em;
    font-family: 'Helvetica', 'Arial', sans-serif;
    background: rgb(63, 111, 243);
}

.header {
    background: white;
    font-weight: bold;
    padding: 2em 1em;
    font-size: 2em;
    border-radius: .5em;
    margin-top: .5em;
}

form {
    background: rgb(255, 255, 255);
    border-radius: .5em;
    padding: .5em;
    margin-top: .5em;
}

h4{
    font-family: 'Helvetica', 'Arial', sans-serif;
    background: (63, 111, 243);
}
.content {
    background: white;
    padding: 1.5em 2em;
    border-radius: .5em
}