{% extends "base.html" %}
{% block content %}
<form action="/add" method="POST">
Lisää Mökki: <br>
<p>
Mökin nimi <textarea name="name" rows="1" cols="40"></textarea>
<br>
Paikkakunta <textarea name="location" rows="1" cols="40"></textarea>
<br>
Koko/m^2 <textarea name="size" rows="1" cols="40"></textarea>
<br>
Hinta/vrk <textarea name="price" rows="1" cols="40"></textarea>
<br>
Rakennusvuosi <textarea name="year" rows="1" cols="40"></textarea>
<input type="submit" value="Lähetä">
</form>
{% endblock %}